
.wrapper
{
    background-color:darkblue;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    
    
}


.left
{
    
    color: white;
    gap: 1rem;
    display: flex;
    

}